@model IEnumerable<NomadSampleMVC.Models.CarModel>

@{
    ViewBag.Title = "Car Models";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarMake.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarMake.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarModelID })
        </td>
    </tr>
}

</table>
