@model PagedList.IPagedList<NomadSampleMVC.Models.CarModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Nomad Sample MVC App";
}
<h2>@ViewBag.Title.</h2>
<h3>Cars example</h3>

<p>
    Types: Economy, Compact, etc<br />
    Makes: Toyota, Honda, etc. <br />
    Models: Camry, Civic, etc (includes color).
</p>
<hr />
<div class="row">
    <div class="col-md-6">
        <p>
            <strong>@Html.ActionLink("Add a Car", "Create", "CarModels")</strong>
        </p>
    </div>
    <div class="col-md-6 text-right">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <p>
                Search by: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
    </div>
</div>
<h4>List of all cars (6 per page)</h4>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Make", "Index", new { sortOrder = ViewBag.MakeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Color", "Index", new { sortOrder = ViewBag.ColorSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @{Html.RenderAction("CarImage", "Home", new { id = item.CarModelID });}
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "CarModels", new { id = item.CarModelID }, null) |
                @Html.ActionLink("Delete", "Delete", "CarModels", new { id = item.CarModelID }, null)
            </td>
        </tr>
    }

</table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
